[Monday]
1 Deutsch
2 Mathe
3 Musik
4
5 Sachkunde
6
7
8
9
10
[Tuesday]
1 Mathe
2 Deutsch
3
4
5
6
7
8
9
10
[Wednesday]
1 Sachkunde
2
3
4
5
6
7
8
10
[Thursday]
1 Englisch
2
3
4
5
6
7
8
10
[Saturday]
1 Mathe
2 Sachkunde
3
4
5
6
7
8
9
10
[Sunday]
1 
2
3
4
5
6
7
8
9
10